<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}?{% now 'U' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <div class="users">
        <h1>Польлователи</h1>
        {%for i in users%}
        <span>{{i.name}}</span>
        {% endfor %}
        <a href="/add_user">Добавить пользователя</a>
        <a href="/add_note">Добавить заметку</a>
    </div>

    <div class="notes">
    {%for i in notes%}
    <div class="note" onclick="window.location = '/notes/{{i.id}}'">
        <h1>{{i.title}}</h1>
        <p>{{i.text}}</p>
        <span class="note-user">{{i.user}}</span>
        <span class="note-date">{{i.date|date:"d-m-Y: h:i:s"}}</span>
    </div>    
    {% endfor %}

    </div>

</body>
</html>